h1 {

}

h1, h2 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (min-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

.container {
  padding: 20px;
}

h2 {
  
  color: rgb(49, 49, 49);
}

.checkboxes-container {
  width: 100%;
  max-width: 150px;
  padding: 40px;
  margin: 0 auto;
}

.check-item {
  padding-bottom:5px;
  cursor: pointer;
}

.check-item, label {
  cursor: pointer;
}

.check-item label {
  padding-left: 10px;
}

.check-item-1 {
  margin-bottom: 17px;
}
